$mdc-typography-font-family: unquote('Noto Sans JP, Roboto, sans-serif');

@import '@material/typography/mdc-typography';

body {
  margin: 0;
}

.mdc-top-app-bar--fixed-adjust {
  min-height: 50vh;
}
