.root {
  display: flex;
  flex-direction: column;

  @media (min-width: 20rem) {
    align-items: center;
    flex-direction: row;
  }
}

.title {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.titleIcon {
  margin-right: 0.25em;
}

.actions {
  padding-left: 1rem;
}
