html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

yt-img-shadow {
  flex: none;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s;
}

yt-img-shadow[loaded] {
  opacity: 1;
}

yt-img-shadow.no-transition {
  opacity: 1;
  transition: none;
}

yt-img-shadow img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

yt-icon {
  fill: currentColor;
  width: var(--iron-icon-height, 24px);
  height: var(--iron-icon-width, 24px);
  stroke: none;
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

yt-live-chat-renderer {
  background-color: var(--yt-live-chat-background-color, hsl(0, 0%, 100%));
  color: var(--yt-live-chat-primary-text-color, hsl(0, 0%, 6.7%));
  display: block;
  flex: 1;
  flex-basis: 0.000000001px;
  flex-direction: column;
  font-size: 13px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

yt-live-chat-item-list-renderer {
  display: block;
  flex: 1;
  flex-basis: 0.000000001px;
  overflow: hidden;
  z-index: 0;
}

yt-live-chat-text-message-renderer:not(:first-child),
yt-live-chat-legacy-paid-message-renderer:not(:first-child),
yt-live-chat-paid-message-renderer:not(:first-child) {
  border-top: var(--yt-live-chat-item-list-item-border, none);
}

yt-live-chat-text-message-renderer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  overflow: hidden;
  padding: 4px 24px;
  position: relative;
  --yt-endpoint-color: var(--yt-live-chat-primary-text-color, hsl(0, 0%, 6.7%));
  --yt-endpoint-hover-color: var(--yt-live-chat-primary-text-color, hsl(0, 0%, 6.7%));
}

yt-live-chat-text-message-renderer[is-highlighted] {
  background-color: var(--yt-live-chat-message-highlight-background-color, #f8f8f8);
}

yt-live-chat-text-message-renderer yt-img-shadow {
  flex: none;
  display: block;
  overflow: hidden;
  margin-right: 16px;
  border-radius: 50%;
}

yt-live-chat-text-message-renderer #content {
  min-width: 0;
  align-self: center;
}

yt-live-chat-text-message-renderer #timestamp {
  color: var(--yt-live-chat-tertiary-text-color, hsla(0, 0%, 6.7%, .4));
  margin: var(--yt-live-chat-item-timestamp-margin, 0 8px 0 0);
  display: var(--yt-live-chat-item-timestamp-display, inline);
  font-size: 11px;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip {
  display: inline-flex;
  align-items: baseline;
  margin-right: 8px;
}

yt-live-chat-text-message-renderer #chat-badges:empty {
  display: none;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip[highlights-enabled] #chat-badges {
  order: 1;
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer {
  margin: 0 4px 0 0;
  display: inline-block;
  vertical-align: sub;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip[highlights-enabled] yt-live-chat-author-badge-renderer {
  margin: 0 0 0 2px;
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: var(--yt-live-chat-moderator-color, hsl(225, 84%, 66%));
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
  color: var(--yt-live-chat-sponsor-color, #107516);
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer img,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer yt-icon {
  width: 16px;
  height: 16px;
  display: block;
  font-size: 16px;
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer yt-icon svg {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

yt-live-chat-text-message-renderer #author-name {
  color: var(--yt-live-chat-secondary-text-color, hsla(0, 0%, 6.7%, .6));
  box-sizing: border-box;
  font-weight: 500;
  border-radius: 2px;
}

yt-live-chat-text-message-renderer[is-highlighted] #author-name {
  padding: 0 4px;
  background-color: #ffd600;
}

yt-live-chat-text-message-renderer[is-highlighted] #author-name[type="owner"] {
  color: var(--yt-live-chat-message-highlight-text-color, rgba(0, 0, 0, 8.7));
}

yt-live-chat-text-message-renderer #author-name[type="owner"] {
  color: var(--yt-live-chat-owner-color, hsl(40, 76%, 55%));
}

yt-live-chat-text-message-renderer #author-name[type="moderator"] {
  color: var(--yt-live-chat-moderator-color, hsl(225, 84%, 66%));
}

yt-live-chat-text-message-renderer #author-name[type="member"] {
  color: var(--yt-live-chat-sponsor-color, #107516);
}

yt-live-chat-text-message-renderer #message {
  color: var(--yt-live-chat-primary-text-color, hsl(0, 0%, 6.7%));
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 16px;
  overflow-wrap: break-word;
}

yt-live-chat-text-message-renderer[is-deleted] #message {
  color: var(--yt-live-chat-deleted-message-color, rgba(0, 0, 0, 0.5));
  font-style: italic;
}

yt-live-chat-text-message-renderer[is-deleted]:not([show-original]) #message {
  display: none;
}

yt-live-chat-legacy-paid-message-renderer {
  display: block;
  padding: 4px 24px;
  position: relative;
  --yt-live-chat-sponsor-color: #0f9d58;
}

yt-live-chat-legacy-paid-message-renderer #card {
  color: #fff;
  display: flex;
  padding: 8px 16px;
  position: relative;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  min-height: 40px;
  align-items: center;
  border-radius: 4px;
  flex-direction: row;
  background-color: var(--yt-live-chat-sponsor-color);
}

yt-live-chat-legacy-paid-message-renderer #author-photo {
  flex: none;
  display: block;
  overflow: hidden;
  align-self: flex-start;
  margin-right: 16px;
  border-radius: 50%;
}

yt-live-chat-legacy-paid-message-renderer #content {
  flex: 1;
  flex-basis: 0.000000001px;
}

yt-live-chat-legacy-paid-message-renderer #author-name {
  display: none;
}

yt-live-chat-legacy-paid-message-renderer #event-text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

yt-live-chat-legacy-paid-message-renderer #detail-text {
  font-size: 15px;
  word-wrap: break-word;
  word-break: break-word;
}

yt-live-chat-paid-message-renderer {
  display: block;
  padding: 4px 24px;
  position: relative;
  font-size: 15px;
  --yt-live-chat-paid-message-background-color: var(--yt-live-chat-paid-message-primary-color);
  --yt-live-chat-paid-message-header-background-color: var(--yt-live-chat-paid-message-secondary-color);
  --yt-live-chat-paid-message-item-timestamp-display: var(--yt-live-chat-paid-message-timestamp-display, none);
  --yt-live-chat-paid-message-text-input-field-placeholder-color: var(--yt-live-chat-paid-message-color);
}

yt-live-chat-paid-message-renderer #card {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  flex-direction: column;
}

yt-live-chat-paid-message-renderer #card yt-img-shadow {
  flex: none;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  margin-right: 16px;
  border-radius: 50%;
}

yt-live-chat-paid-message-renderer #header {
  color: var(--yt-live-chat-paid-message-header-color, #fff);
  display: flex;
  padding: 8px 16px;
  position: relative;
  min-height: 20px;
  font-weight: 500;
  align-items: center;
  flex-direction: row;
  background-color: var(--yt-live-chat-paid-message-header-background-color, #125aac);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

yt-live-chat-paid-message-renderer[show-only-header] #header {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

yt-live-chat-paid-message-renderer #header-content {
  flex: 1;
  display: flex;
  flex-basis: 0.000000001px;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}

yt-live-chat-paid-message-renderer #header-content-primary-column {
  flex: 1;
  display: flex;
  flex-basis: 0.000000001px;
  flex-direction: column;
  justify-content: space-between;
}

yt-live-chat-paid-message-renderer #author-name {
  color: var(--yt-live-chat-paid-message-author-name-color, rgba(255, 255, 255, 0.7));
  font-size: 14px;
}

yt-live-chat-paid-message-renderer #timestamp {
  color: var(--yt-live-chat-teriary-text-color, hsla(0, 0%, 6.7%, .4));
  margin: var(--yt-live-chat-item-timestamp-margin, 0 8px 0 0);
  display: none;
  font-size: 11px;
}

yt-live-chat-paid-message-renderer #content {
  color: var(--yt-live-chat-paid-message-color, #fff);
  padding: 8px 16px;
  word-wrap: break-word;
  word-break: break-word;
  background-color: var(--yt-live-chat-paid-message-background-color, #1565c0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

yt-live-chat-paid-message-renderer[allow-animations] #header,
yt-live-chat-paid-message-renderer[allow-animations] #content {
  transition-duration: 0.2s;
  transition-property: background-color;
}

yt-formatted-string#deleted-state {
  color: var(--yt-live-chat-deleted-message-color, rgba(0, 0, 0, 0.5));
  font-style: italic;
}
