name: Node CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@v4
        with:
          node-version: 18.20.8
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
